.footer {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
  width: 100%;
}
.icon {
  color: #fa4a0c;
  margin-left: 30px;
  transform: scale(1.6);
}
.footer .footer-p {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .footer .footer-p {
    display: none;
  }
  .logo img {
    width: 150px;
  }
  .icon {
    transform: scale(1);
    margin-left: 0px;
    padding: 0px;
  }
  .footer {
    justify-content: space-between;
    padding: 15px;
  }
}
